[Unit]
Description="HashiCorp Consul - Service Networking Solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/opt/consul/config/server.hcl

[Service]
User=pi
Group=pi
ExecStart=/usr/local/bin/consul agent -config-dir=/opt/consul/config
ExecReload=/usr/local/bin/consul ExecReload
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target